body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("../images/hand-drawn-flat-school-frame.jpg");
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
}

#video {
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

#results {
    text-align: center;
    width: 30%;
}