<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gesture Recognition</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>

    <!-- 
      1. Remove this background and please maintain all the images in static/images
      2. index.html is the landing page so design accordingly.
            it should contain...
            1. Propper info on SignIX (what is it what it does)
            2. Currently supported gestures (listed in <ul>) 
      3. Refrence for the landing page - https://freeapi.app/ (the style and the related elements)
    -->

    <h1>SignIX</h1>
    <div class="container">
      <p>hello bro this is the thing called signix which can tell what your hand suggests currently this supports</p>
      <ul>
        <li>pointup</li>
        <li>thumbup</li>
        <li>thumbDown</li>
        <li>openpalm</li>
        <li>closeFist</li>
        <li>victory</li>
        <li>rock</li>
      </ul>
      <a href="/signix">Try It</a>b
    </div>

    <!-- SocketIO -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
